/* Basic CSS for style rules and functionality */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  #instruction {
    font-weight: 80;
  }

  #currentDay {
    font-size: xx-large;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .timeblock {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    margin-left: 2%;
  }
  
  .hour {
    flex: 1;
    text-align: right;
    margin-right: 15px;
  }
  
  .event-input {
    flex: 8;
  }
  
  .save-btn {
    flex: 0;
    margin: 10px;
    align-items: center;
    color: darkblue;
  }
  
  .past {
    background-color: #d3d3d3;
  }
  
  /* Past hours are grey, current hour is red, future hours are green. */

  .present {
    background-color: #ff6961;
  }
  
  .future {
    background-color: #77dd77;
  }
  